<h1 id="aboutus">About Us</h1>


<div class="container">
  <div class="row">
<div class="col-lg-4">
  <img class="bakersPP" src="/images/baker4.jpg" />
  <!-- <h4 class="workersstuff">Hector loving his job!</h4> -->
</div>
<div class="col-lg-4">
  <img class="bakersPP" src="/images/baker1.jpg" />
  <!-- <h4 class="workersstuff">Casey working super hard!</h4> -->
</div>

<div class="col-lg-4">
  <img class="bakersPP" src="/images/baker2.jpg" />
  <!-- <h4 class="workersstuff">John and Michael hard at work for the busy christmas season.</h4> -->
</div>
</div>
</div>
<br />
<div class="container">
  <div class="row">
<div class="col-lg-4">
  <h4 class="abouth4">'Hector loving his job!'</h4>
</div>
<div class="col-lg-4">
  <h4 class="abouth4">'Casey working super hard!'</h4>
</div>

<div class="col-lg-4">
  <h4 class="abouth4">'John and Michael hard at work for the busy christmas season.'</h4>
</div>
</div>
</div>







<section id="aboutp">
  <p>
    We take doing the bakery stuff real serious.
    We have been successfully making cakes and other baked goods for about 2 days now,
    and we feel like it's going real well.
    Thank you for coming to Tobi Bakery!
  </p>

</section>
