<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Friendly Bakery</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Charmonman" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>

<div id="mastercontainer">


  <nav class="navigation">
              <ul class="navigation-list-1">
                  <li class="navigation-list-item"><a href="/" class="catestyle">Home</a></li>
                  <li class="navigation-list-item"><a href="aboutus" class="catestyle">About Us</a></li>
                  <li class="navigation-list-item"><a href="findus" class="catestyle">Find Us</a></li>
                  <li class="navigation-list-item"><a href="/"><img class="logo" src="/images/cupcakeinvis.png"></a></li>
                  <li class="navigation-list-item"><a href="cookies" class="catestyle">Cookies</a></li>
                  <li class="navigation-list-item"><a href="cakes" class="catestyle">Cakes</a></li>
                  <li class="navigation-list-item"><a href="muffins" class="catestyle">Muffins</a></li>
              </ul>
          </nav>



<%= yield %>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="main.js"></script>
</div>
  </body>
</html>
