<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Friendly Bakery</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="main.css">
  </head>



  <nav class="navigation">
              <ul class="navigation-list-1">
                  <li class="navigation-list-item"><a href="/" class="catestyle">Home</a></li>
                  <li class="navigation-list-item"><a href="aboutus" class="catestyle">About Us</a></li>
                  <li class="navigation-list-item"><a href="findus" class="catestyle">Find Us</a></li>
                  <li class="navigation-list-item"><a href="/"><img class="logo" src="images/cupcake.png"></a></li>
                  <li class="navigation-list-item"><a href="cookies" class="catestyle">Cookies</a></li>
                  <li class="navigation-list-item"><a href="cakes" class="catestyle">Cakes</a></li>
                  <li class="navigation-list-item"><a href="muffins" class="catestyle">Muffins</a></li>
              </ul>
          </nav>




<%= yield %>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="main.js"></script>
  </body>
</html>
