.allcookies {
  width: 350px;
  height: 300px;

}

.allcakes {
  width: 350px;
  height: 300px;
}

.allmuffins {
  width: 350px;
  height: 300px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.navigation-list-item {
display: inline-block;
justify-content: center;
list-style: none;
font-size: 15px;
font-weight: bold;
padding: 15px;
margin-right: -5px;

}

.logo {
max-height: 15%;
max-width:300px;
}

.catestyle:hover {
  color: rgb(245, 116, 103)

}
