<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tobi's Bakery</title>
    <link href="https://fonts.googleapis.com/css?family=Charmonman" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <style>


    #mastercontainer{
    float: center;
    background-color: whitesmoke;
    }
    #donuts {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .specialkind {
      text-decoration: underline;
      font-size: 1.3em
    }

    h1 {
      text-align: center;
      font-family: 'Charmonman', cursive;
      font-size: 3em;
      margin-top: 20px;
      text-decoration: underline;
      color: rgb(13, 212, 170)
    }
    h2 {
      text-decoration: underline;
    }
    h2, h3{
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.3em;
      color: rgb(235, 117, 117);
    }
ul {
  text-align: center;
  text-decoration: none;
}
  dt {
    text-decoration: none;
    font-family: 'Charmonman', cursive;
    text-align: center;
    font-size: 1em;
  }



    </style>

  </head>
  <body>
<div id="mastercontainer">

<img id="donuts" src="https://assets.marthastewart.com/styles/wmax-750/d29/baked-cake-donut-7000185-1217/baked-cake-donut-7000185-1217_horiz.jpg?itok=u2jvutxq" />
<h1>TOBI's BAKERY</h1>

<h2>Products</h2>
<dl>
  <dt class="specialkind">Cookies</dt>
  <dt>Chocolate-Chip Cookies</dt>
  <dt>
    Chocolate-Mint Cookies
  </dt>
  <dt>
    Chris Kush Cookies
  </dt>
  <dt>
    Oatmeal Cran. Cookies
  </dt>
  <dt>
    Gingerbread Cookies
  </dt>
  <dt>
    Sugarcookies
  </dt>



  <dt class="specialkind">Cakes</dt>
  <dt>
    Chocolate-Cake
  </dt>
  <dt>
    Oreo-Cake
  </dt>
  <dt>
    Red-Velvet Cake
  </dt>
  <dt class="specialkind">Muffins</dt>
  <dt>
    Banana Nut Muffins
  </dt>
  <dt>
    Blue-berry Muffins
  </dt>
  <dt>
    Pistachio Muffins
  </dt>
</dl>

<h3>Thank you! We hope to see you soon.</h3>
</div>




  </body>
</html>
